<h1> Chits </h1>

<div id='chits-table'>
  <ul id='chits'>
    <% @chits.reverse.each do |chit| %>
      <li>
        Chit: <%= chit.post %>
        Time:   <%= chit.time   %>
      </li>
    <% end %>
  </ul>
</div>
